version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app_docker_flask
    ports:
      - "3000:3000"
    volumes:
      - ./app:/app/app
    restart: unless-stopped
